@import url('../../App.css');
button {
    cursor: pointer;
    font-size: 14px;
    font-family: 'Manrope', sans-serif;
}


.primary-button {
    display: flex;
    padding: 12px 24px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    font-weight: var(--font-weight-extrabold);
    color: white;
    background: var(--lucky-point-900);
    border: none;
    border-radius: 32px;
    height: 48px;
}

.primary-button:hover {
    background: var(--lucky-point-950);
}


.outline-button {
    display: flex;
    padding: 12px 24px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    font-weight: var(--font-weight-extrabold);
    border: none;
    border-radius: 32px;
    border: 1px solid var(--boulder-950);
    background: none;
    height: 48px;
}

.outline-button:hover {
    background: var(--quarter-spanish-white-100);
    border: 2px solid var(--boulder-950);
}


.outline-button-neutral {
    display: flex;
    padding: 12px 24px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    font-weight: var(--font-weight-extrabold);
    border: none;
    border-radius: 32px;
    border: 1px solid var(--boulder-950);
    background: none;
    height: 48px;
}

.outline-button-neutral:hover {
    background: var(--boulder-50);
    border: 2px solid var(--boulder-950);
}


.icon-button {
    padding: 0px;
    border: none;
    background: none;
}





