@import url('../../../App.css');

.ls-nav-item-container {
    display: flex;
    padding: 12px;
    align-items: flex-start;
    align-self: stretch;
    border-radius: 8px;
}


.ls-nav-item-container:hover {
    background-color: var(--quarter-spanish-white-100);

}

.ls-nav-item-container.active {
    background-color: var(--quarter-spanish-white-200);

}

.ls-nav-item-container.active h6.nav-text {
    font-weight: var(--font-weight-extrabold);

}

.ls-nav-item {
    display: flex;
    gap: 8px;
    height: 24px;
}

h6.nav-text{
    color: var(--boulder-950);
    font-weight: var(--font-weight-regular);
}



