@import url('./App.css');

body {
  margin: 0;
  font-family: "Manrope", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--quarter-spanish-white-50);
  color: var(--boulder-950)
}

