@import url('../../App.css');

.breadcrumb-container {
    display: flex;
    padding: 36px 32px;
    flex-direction: column;
    top: 0;
    left: 320px;
    flex: 1;
    z-index: 100;
    align-items: flex-start;
    background-color: var(--quarter-spanish-white-50);
}

.breadcrumbs-group {
    display: flex;
    align-items: center;
    gap: 8px;
    height: 24px;
}

.bc-item {
    line-height: 24px;
    color: var(--boulder-950);
    cursor: pointer;
}

.currentPage {
    font-weight: var(--font-weight-bold);
}